In [2]:
pip install nltk

Requirement already satisfied: nltk in c:\users\piyus\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\piyus\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\piyus\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\piyus\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\piyus\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\piyus\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import nltk

In [5]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [6]:
import pandas as pd

In [14]:
fake=pd.read_csv(r"C:\Dat\News\Fake.csv")

In [16]:
genuine=pd.read_csv(r"C:\Dat\News\True.csv")

In [17]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [18]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [19]:
fake['target']=0
genuine['target']=1

In [20]:
data=pd.concat([fake,genuine],axis=0)

In [21]:
data=data.reset_index(drop=True)

In [25]:
data=data.drop(['subject','date','title'],axis=1)

In [27]:
data.head()

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

In [28]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [31]:
from nltk.tokenize import word_tokenize

In [32]:
data['text']=data['text'].apply(word_tokenize)

In [33]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [34]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer('english')

In [35]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [36]:
data['text']=data['text'].apply(stem_it)

In [37]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [41]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [42]:
data['text']=data['text'].apply(stop_it)

In [45]:
print(data['text'].head(10))

0    donald trump just couldn wish all american hap...
1    hous intellig committe chairman devin nune hav...
2    friday was reveal that former milwauke sheriff...
3    christma day donald trump announc that would b...
4    pope franci use his annual christma day messag...
5    the number case cop brutal and kill peopl colo...
6    donald trump spent good portion his day his go...
7    the wake yet anoth court decis that derail don...
8    mani peopl have rais the alarm regard the fact...
9    just when you might have thought get break fro...
Name: text, dtype: object

In [43]:
data['text']=data['text'].apply(' '.join)

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'])

In [46]:
display(X_train.head())
print('\n')
display(y_train.head())

25626    reuter the mayor phoenix wednesday call presid...
17876    man shout allahu akbar has stab two women deat...
14727    hillari clinton point the finger the victim th...
40607    beij reuter the speech was long the refresh au...
32878    washington reuter the top member the u.s. sena...
Name: text, dtype: object

25626    1
17876    0
14727    0
40607    1
32878    1
Name: target, dtype: int64

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.transform(X_test)

In [59]:
print(tfidf_train)

  (0, 87142)	0.10093768713123244
  (0, 38965)	0.0437163652871295
  (0, 24678)	0.13082823053846163
  (0, 65553)	0.17482683649772185
  (0, 44536)	0.15941781226162682
  (0, 76718)	0.12524025857527943
  (0, 55521)	0.05101455762078822
  (0, 39502)	0.08735943600337674
  (0, 84006)	0.0809128850227789
  (0, 64926)	0.08248963003047796
  (0, 77634)	0.07417012222721005
  (0, 77552)	0.5077083413164196
  (0, 36011)	0.17019111833985584
  (0, 19095)	0.17454864765289257
  (0, 29952)	0.10031875758240574
  (0, 82739)	0.17306509050368574
  (0, 33197)	0.040223073703802584
  (0, 37986)	0.18320996977325338
  (0, 77990)	0.0793284673248697
  (0, 57151)	0.05972814132598014
  (0, 61223)	0.06260367220843528
  (0, 17578)	0.06925812153359923
  (0, 19656)	0.1517936770702901
  (0, 37659)	0.039766736074925334
  (0, 25866)	0.1418946433678578
  :	:
  (33671, 83692)	0.04448999805630867
  (33671, 83330)	0.04110845036591726
  (33671, 65459)	0.013226524094267724
  (33671, 17441)	0.0168656017163283
  (33672, 9413)	0.4320067252396396
  (33672, 74118)	0.43903248147319834
  (33672, 41576)	0.27921339385686206
  (33672, 72968)	0.25154600663047255
  (33672, 30317)	0.20143295816493412
  (33672, 31248)	0.2338594358257232
  (33672, 62705)	0.21860829785566244
  (33672, 28699)	0.16853662678665618
  (33672, 42647)	0.16556124275909812
  (33672, 42407)	0.22218112339048302
  (33672, 59408)	0.1761285666881311
  (33672, 42400)	0.17891838036706706
  (33672, 4671)	0.2278683246169875
  (33672, 54389)	0.12604898359772662
  (33672, 88482)	0.11813790111686379
  (33672, 77592)	0.13617772608154807
  (33672, 60105)	0.12764297957965004
  (33672, 38783)	0.12762659668977208
  (33672, 38878)	0.10162169180670386
  (33672, 81465)	0.06582129707906902
  (33672, 82398)	0.14339986137587102

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [62]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(y_test,pred_1)
print(cr1*100)

98.79732739420936

In [65]:
from sklearn.linear_model import PassiveAggressiveClassifier
model= PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [68]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.51893095768374